<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>Music App</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Music App</h1>
    <%if current_user.nil? %>
      <%= link_to "Sign Up", new_user_url %>
      <%= link_to "Sign In", new_session_url %>
    <% else %>
      <h1>Welcome, <%= current_user.email %> ! </h1>
      <button><%= button_to "Logout", session_url, method: :delete %></button>
    <% end %>

    <%= yield %>
  </body>
</html>
